<!DOCTYPE html>
<html lang="it">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- GOOGLE FONT -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
   <!--/GOOGLE FONT -->
   
   <!-- FONTAWESOME -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!--/FONTAWESOME -->

   <link rel="stylesheet" href="css/style.css">
   <title>Vue-Boolzapp</title>
   <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

   <div id="app">

      <div class="main-container d-flex">
         <!-- left column with contacts -->
         <div class="colon-contact">

            <div class="box-info-user d-flex d-justify-between d-align-center">
               <div class="img-profile">
                  <img src="css/img/avatar_2.jpg" alt="contact">
               </div>
               <p>Antonio</p>
               <div class="icon-info-user">
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </div>
            </div>
                                 <!---------BOX NOTIFICA ------------>
            <div class="box-notific d-flex d-align-center">
               <template v-if="notific">
                  <div class="icon-notific"><i class="fa-solid fa-bell-slash"></i></div>
                  <div>
                     <p>Ricevi notifiche di nuovi messaggi</p>
                     <p @click="changeNotific">Attiva notifiche desktop</p>
                  </div>
               </template>
               
               <template v-else>
                  <div class="icon-notific"><i class="fa-solid fa-bell"></i></div>
                  <div>
                     <p>Riposati dai messaggi</p>
                     <p @click="changeNotific">Disattiva notifiche desktop</p>
                  </div>
               </template>
            </div>
                                  <!--------/BOX NOTIFICA ------------>

                                  <!--------/BOX INPUT CERCH------------>
            <div class="box-input-contact d-flex">
               <button><i class="fa-solid fa-magnifying-glass"></i></button>
               <input type="text" placeholder="Cerca o inizia una nuova chat" 
                      v-model="cerchContact" 
                      @input="getCerchContact">
            </div>
                                  <!--------/BOX INPUT CERCH------------>
            <div class="chat-boxes">
                                 <!-----------SINGLE CHAT------------>
              
               <div 
               class="chat-info d-flex" 
               :class="{'active' : index === activeChat }"
               v-for="(contact , index) in contacts"
               @click="getNewChat(index)" >
                  <div v-if="contact.visible" class="img-profile">
                     <img :src="'css/img/avatar' + contact.avatar + '.jpg'" alt="">
                  </div>
                  <div v-if="contact.visible" class="chat-name">
                     <p>{{contact.name}}</p>
                     <p>Ultimo</p>
                  </div>
                  <div v-if="contact.visible" class="chat-hour">
                     <p>12:00</p>
                  </div>
               </div>
                                  <!----------/SINGLE CHAT------------>

            </div>

         </div>

         <!-- right column with chat -->
         <div class="colon-chat">
                                 <!---------  HEADER BOX CHAT -------->
            <div class="box-info-contact d-flex d-align-center d-justify-between">
               <div class="chat-info d-flex height ">
                  <div class="img-profile">
                     <img :src="'css/img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                  </div>
                  <div class="chat-name ">
                     <p>{{contacts[activeChat].name}}</p>
                     <p>Ultimo accesso oggi alle 8:35</p>
                  </div>
                  
               </div>
               <div class="icon-info-user">
                  <i class="fa-solid fa-phone"></i>
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </div>
            </div>
                                   <!---------  HEADER BOX CHAT ---------->
                                    <!------------  CHAT ----------------->

            <div class="box-chat">
               <p class="critografy"> 🔒 I messaggi che invii in questa chat e le
                  chiamate sono ora protetti con la crittografia
                  end-to-end. Tocca per maggiori info.</p>
               <div class=" d-flex d-justify-between"
                    v-for="chat in contacts[activeChat].messages"
                    :class="chat.status">
                  
                  <p>{{chat.message}}</p>
                  <p>{{chat.date}}</p>
               </div>
               
            </div>
                                       <!------------/ CHAT ----------------->
                                       <!--------- INPUT CHAT --------------->
            <div class="input-chat d-flex d-align-center">
               <i class="fa-regular fa-face-smile" @click="getEmocy"></i>
               <input type="text" placeholder="Scrivi un messaggio" 
                      :class="{ 'animatedInputWrong': animatedActive }" 
                      v-model="messageSend" 
                      v-on:keyup.enter="getSentMessage" >
               <i class="fa-solid fa-microphone" ></i>
            </div>
            <!-- box not visible with activated click icoin face smile -->
            <template v-if="emocy" ><div class="box-emocy">😂❤😊🤣😍😒👌😘💕😁👍🙌🤦‍♀️🤦‍♂️🤷‍♀️😢😎😉🤞✌🤷‍♂️😜👏💋🌹</div></template>
         </div>
                                       <!---------/INPUT CHAT --------------->

      </div>

     

  </div>

<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
